@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #0000b0;
  font-family: var(--font-depot-new);
}

@media (max-width: 767px) {
  :root {
    width: 104%;
  }
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
